<div class="page-header">
  <h1 class="page-heading-txt">About</h1>
</div>

<hr class="page-heading-line" />

<div class="panel panel-default panel-abouts">
  <div class="panel-heading">
    <h3 class="panel-title">Information and Registration</h3>
  </div>
  <div class="panel-body">
    Information and Registration is available at 132 South Main Street and the Woodruff Community Center (116 South Main Street). Single event tickets may be purchased at each venue. On-site registration is available for “My Tale” competition.
    </div>
  </div>

  <div class="panel panel-default panel-abouts">
    <div class="panel-heading">
      <h3 class="panel-title">Parking</h3>
    </div>
    <div class="panel-body">
      Parking is available just off Main Street behind the
      Woodruff Community Center and Events On Main with
      limited spaces on Main Street. Please ask if you need
      assistance. There is no public transportation available
      in the city.
    </div>
  </div>

  <div class="panel panel-default panel-abouts">
    <div class="panel-heading">
      <h3 class="panel-title">Venues and Seating for Events</h3>
    </div>
    <div class="panel-body">
      132 South Main is the site for most storytelling
      Seating is on a first come, first sit basis.
    </div>
  </div>

  <div class="panel panel-default panel-abouts">
    <div class="panel-heading">
      <h3 class="panel-title">Public Restrooms</h3>
    </div>
    <div class="panel-body">
      Portable restrooms, including handicapped accessible,
      are located in the parking lots just off Main Street
      behind the Woodruff Community Center and near the Timrod Library.
    </div>
  </div>

  <div class="panel panel-default panel-abouts">
    <div class="panel-heading">
      <h3 class="panel-title">Photography and Video or Audio Recording</h3>
    </div>
    <div class="panel-body">
      Photography, Audio or Video recording are not
      permitted during the performances, except by Stone
      Soup photographers. Our photographers will be taking
      publicity pictures and recordings during the events.
      If you do not want your photo published, please
      let the event monitor know.
    </div>
  </div>

  <div class="panel panel-default panel-abouts">
    <div class="panel-heading">
      <h3 class="panel-title">Safety/First Aid</h3>
    </div>
    <div class="panel-body">
      If you have an emergency, contact the site monitor or
      the ticket desk. Please make sure that children under 12
      remain with a parent or guardian at all times.
    </div>
  </div>

  <div class="panel panel-default panel-abouts">
    <div class="panel-heading">
      <h3 class="panel-title">Trash</h3>
    </div>
    <div class="panel-body">
     Trash receptacles will be available at the event sites.
     Please help us keep our city clean by disposing of your trash in the receptacles. Thank you.
    </div>
  </div>

  <div class="panel panel-default panel-abouts">
    <div class="panel-heading">
      <h3 class="panel-title">Alcohol/Smoking</h3>
    </div>
    <div class="panel-body">
     No alcohol is allowed to be brought into events. Smoking is not allowed in any of the event sites.
    </div>
  </div>

  <div class="panel panel-default panel-abouts">
    <div class="panel-heading">
      <h3 class="panel-title">Lost and Found</h3>
    </div>
    <div class="panel-body">
     Lost items can be turned in and reclaimed at the Woodruff Police Department. Located at City Hall.
    </div>
  </div>

  <p>/assets/images/star.png</p>
    <img src="/assets/images/star.png" />
    <hr />

    <p>assets/images/star.png</p>
      <img src="assets/images/star.png" />
      <hr />

      <p>/images/star.png</p>
        <img src="/images/star.png" />
        <hr />

        <p>images/star.png</p>
          <img src="images/star.png" />
          <hr />

    <p>../assets/images/star.png</p>
    <img src="../assets/images/star.png" />
    <hr />

{{outlet}}
