
<!-- Standard button
<button type="button" class="btn btn-default">Default</button>
-->


<nav>
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'about'}}About{{/link-to}}
  {{#link-to 'schedule'}}Schedule{{/link-to}}
  {{#link-to 'map'}}Map{{/link-to}}
  {{#link-to 'tellers'}}Tellers{{/link-to}}
  {{#link-to 'contact'}}Contact{{/link-to}}
</nav>

<div class="container-fluid">
{{outlet}}
</div>

<!-- .page-container -->
