<div class="page-header">
  <h1 class="page-heading-txt">Contact</h1>
</div>

<hr class="page-heading-line" />

<div class="panel panel-default panel-contact">
  <div class="panel-heading">
    <h3 class="panel-title">Contact Info</h3>
  </div>
  <div class="panel-body">

     Volunteers at Main Venue: 132 S. Main St<br />

    Email: <a href="mailto:stonesoupkp@aol.com">
      stonesoupkp@aol.com
    </a>
    <br />
    Bat Phone: <a href="tel:8647065532">(864) 706-5532</a>
    <br />
    Tech Support Email: <a href="bhoskins@charter.net">
      bhoskins@charter.net
    </a>
    <br />

    Official Stone Soup Website: <a href="http://www.stonesoupsc.com">StoneSoupSC.com</a>
    <br />
    2016 Stone Soup App: <a href="http://www.stonesoup2016">StoneSoup2016.com</a>

    </div>
  </div>

{{outlet}}
