<div class="page-header">
  <h1 class="page-heading-txt">Contact</h1>
</div>

<hr class="page-heading-line" />

  <div class="panel panel-default panel-abouts">
    <div class="panel-heading">
      <h3 class="panel-title">Real Live People</h3>
    </div>
    <div class="panel-body">
     Look for Volunteers at <span class="red-emphasis">Main Venue: 132 S. Main St</span>
      </div>
    </div>

    <div class="panel panel-default panel-abouts">
      <div class="panel-heading">
        <h3 class="panel-title">The Bat Phone</h3>
      </div>
      <div class="panel-body">
        <a href="tel:8647065532" class="purple-emphasis">(864) 706-5532</a>
      </div>
    </div>

    <div class="panel panel-default panel-abouts">
      <div class="panel-heading">
        <h3 class="panel-title">Email Stone Soup</h3>
      </div>
      <div class="panel-body">
       <a href="mailto:stonesoupkp@aol.com" class="red-emphasis">
             stonesoupkp@aol.com
           </a>
      </div>
    </div>

    <div class="panel panel-default panel-abouts">
      <div class="panel-heading">
        <h3 class="panel-title">Stone Soup Website</h3>
      </div>
      <div class="panel-body">
       <a href="http://www.stonesoup2016" class="red-emphasis">StoneSoup2016.com</a>
      </div>
    </div>

    <div class="panel panel-default panel-abouts">
      <div class="panel-heading">
        <h3 class="panel-title">Contact Webmaster</h3>
      </div>
      <div class="panel-body">
      <a href="mailto:bhoskins@charter.net" class="red-emphasis">
            bhoskins@charter.net
          </a>
      </div>
    </div>

{{outlet}}
