<div class="container container-index-page cf">
  <div class="bottom-arrow-right"></div>
  <div class="right-arrow-up"></div>
  <div class="top-arrow-left"></div>
  <div class="left-arrow-down"></div>
  <div class="bottom-arrow-tip-left"></div>

  <div class="index1-wrap cf">
    <h3 class="home-top-txt txt">Stone Soup Storytelling Institute <br />
    presents
    </h3>

    <hr class="home-line" />

  </div><!-- .index1-wrap -->

  <div class="index2-wrap cf">

    <h2 class="home-main-txt">
      2016 <span class="line-break"><br /></span>
      Stone Soup Storytelling <br />
      Festival
    </h2>
  </div><!-- .index2-wrap -->

  <div class="home-main-img index3-wrap cf"></div>

  <div class="index4-wrap cf">
    <h2 class="home-main-txt">
      April 14-17 <br />
      Woodruff, SC
    </h2>

    <a href="http://www.stonesoupsc.com" class="home-ss-link" target="_blank">www.StoneSoupSC.com</a>

  </div><!-- .index4-wrap -->



</div>



{{outlet}}
