<div class="container">
  <div class="bottom-arrow-right"></div>
  <div class="right-arrow-up"></div>
  <div class="top-arrow-left"></div>
  <div class="left-arrow-down"></div>
  <div class="bottom-arrow-tip-left"></div>

  <h3 class="home-top-txt txt">Stone Soup Storytelling Institute <br />
  presents
  </h3>

  <hr class="home-line" />

  <h2 class="home-main-txt">
    2016 Stone Soup Storytelling <br />
    Festival
  </h2>

  <div class="home-main-img"></div>

  <h2 class="home-main-txt">
    April 14-17 <br />
    Woodruff, SC
  </h2>

  <a href="http://www.stonesoupsc.com" class="home-ss-link" target="_blank">www.StoneSoupSC.com</a>



</div>



{{outlet}}
