<div class="page-header">
  <h1 class="page-heading-txt">Tellers</h1>
</div>

<hr class="page-heading-line" />

<ul>
  {{#each model as |teller| }}
  <li>
    {{teller.name}}
    {{teller.url}}
    {{teller.bio}}
  </li>

  {{/each}}
</ul>

{{outlet}}
